.address {
  margin-top: 20px;
}
.address__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  flex-direction: column;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__map {
  color: $descript-title-color;
}
.address__link {
  color: $address-link-footer;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
