.checkbox-fild {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-fild__label {
  @extend %position;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-shade-color;

  @media screen and (max-width: 339px) {
    margin-top: 10px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.checkbox-fild__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
}
.checkbox-fild__icon {
  min-width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/icon-check-br.svg);
  border-radius: 2px;
  transition: background-image 250ms $timing-function,
    background-color 250ms $timing-function;

  @media screen and (max-width: 339px) {
    margin-right: 16px;
  }
}
.checkbox-fild__input:checked + .checkbox-fild__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icon-check.svg);
  background-color: $accent-color;
}
.checkbox-fild__conditions {
  color: $accent-color;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
