.contacts-wrap {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.contacts__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $main-text-color;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    font-size: 14px;
  }
}
.contacts__link--size {
  font-size: 34px;

  @media screen and (max-width: 376px) {
    font-size: 27px;
  }
}
.contacts__link--color {
  color: $accent-color;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
