.section-doing {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
}
.doing {
  @extend %tablet-list-wrap;
}
.doing__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;
}
.doing__thumb {
  position: relative;
}
.doing__text-overlay {
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.doing__text {
  @extend %base-font-size;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: $descript-title-color;
}
