.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -8px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}
.filters__item {
  margin: 8px;
  &:not(:last-child) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    margin: 0 8px;
  }
}
