.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
