.input-fild {
  margin-bottom: 10px;
}
.input-fild__group-absolute {
  position: relative;
}
.input-fild__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba($primary-color, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms $timing-function;

  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
.input-fild__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms $timing-function;

  &:focus {
    fill: $accent-color;
  }
}
