// .navigation {
//   // @extend %position;
//   // margin-left: 90px;
// }
.navigation__menu {
  // @extend %position;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.navigation__item:not(:last-child) {
  // @extend %position;
  // margin-right: 50px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.navigation__link {
  @extend %base-font-size;
  position: relative;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.navigation__link--current {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 250ms $timing-function;
    background-color: $accent-color;
    border-radius: 2px;
    opacity: 1;
  }
}
