.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation__menu {
  display: none;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-color;

  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }

  &.current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
