.our-team-section {
  background: $secondary-shade-color;
}
.our-team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.our-team__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $secondary-color;
  border-radius: 0px 0px 4px 4px;
}
.our-team__name {
  color: $primary-color;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  font-size: 16px;
}
.our-team__profession {
  @include text(400, $primary-shade-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
}
