.portfolio-wrap {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
.portfolio {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  &:hover {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
.portfolio__item:hover .portfolio__card-wrapper {
  transform: translateY(0);
}
.portfolio__text-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
  flex-grow: 1;
}
.portfolio__img-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms $timing-function;
}

.portfolio__card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: $secondary-color;
}
.portfolio__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: $primary-color;
}

.portfolio__item-description {
  @include text(400, $primary-shade-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
