.subscribe__input {
  outline: none;
  background-color: transparent;
  padding: 14px 16px;
  color: $descript-title-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
  // @media screen and (min-width: 768px) {
  //   width: 100%;
  // }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}
