$accent-color: #2196f3;
$secondary-text-color: #212121;
$main-text-color: #757575;
$descript-title-color: #ffffff;
$our-tea-background: #f5f4fa;
$hero-footer-background: #2f303a;
$logo-checkbox-color: #000000;
$social-networks-color: #ffffff;
$fill-color-svg: #afb1b8;

$address-link-footer: rgba(255, 255, 255, 0.6);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
